@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
    --rouge : #E7473C;
    --bleu : #0A1828;
    --blanc : #F0F0F0;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
    color : #000;
}

* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;    
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    border-top : solid 2px var(--rouge);
    border-bottom : solid 2px var(--rouge);
    padding : 10px 0;
}
.btn {
    background-color: var(--rouge);
    padding : 5px 45px;
    font-size: 0.9rem;
    color : var(--blanc);
    height : 50px;
    border : 1px solid var(--rouge);
    
}
.content-nav {
    width : 80%;
    margin : 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.activites {
    width : 80%;
    margin : 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
nav {

    display: flex;
    flex-direction: row;
    justify-content: left;  
}

.content-nav img {
    width : 10%;
}

nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column ;
    justify-self: center;
    align-items: center;
    float:left;
    padding:0px 16px;
    
}
nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


.full {
    background-color: bisque;
}
.hero {
    display : flex;
    justify-content :left;
    align-items: center;
    height : 80vh;
    background-image: url(/images/mongala2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content-hero{
    width : 50%;
    margin : 0px 10%;
    display: flex;
    flex-direction: column;
    color : var(--blanc);
}

.content-hero h1 {
    font-weight: 400;
    font-size : 2.8rem;
}

.content-hero p {
    font-size : 1.5rem;
    line-height: 4rem;
    flex-flow :unset;

}

.register {
    display: block;
    position : relative;
    top : -180px;
    height : 300px;
    width : 50%;
    margin-left : 10%;
    background-color: var(--blanc);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.register h2{
    font-weight: 400;
    font-size: 2rem;
    color : var(--blanc);
    background-color: var(--rouge);
    padding : 25px 0px;
}
.form-register {
    margin : 70px 0px;
}
#register input{
    padding : 20px;
    margin : 0 10px 0;
    width : 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border : none;
}

#register button{
    padding : 10px;
}

.presentation {
    width : 50%;
    flex : 1;
}
.activites img{
    width : 50%;
    flex : 1;
}
.presentation h2{
    font-weight: 400;
    font-size: 2rem;
    color : var(--bleu);
    padding : 0px 25px 10px 0px;
}

.presentation p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    padding : 5px 15px 20px 0px;
}

.presentation button{
    padding : 10px;
    width : 150px;
    border : solid 1px var(--rouge);
    color : var(--blanc);
}

.gadgets {
    background-color: var(--blanc);
    padding : 30px 0px 70px 0;
    margin : 50px 0px;
    border-radius: 0 0 15% 0;
}

.gadget-item img {
    width : 300px;
}

.gadget-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
    width : 80%;
    margin : 0px auto;
}

.gadget-item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border : none;
    background-color: #fff;
}

.gadgets h1 {
    text-align: center;
    color : var(--rouge);
    font-size : 3rem;
    font-weight : 400px;
    margin : 5px 0px 40px 0px;
}

.molobeli{
    margin : 0px;
    display: flex;
    background-color: #000;
}
.tabs {
    width : 50%;
}
.detailsAction img{
    width : 100%;
}
.detailsAction{
    width : 50%;
}
.title {
    text-align: center;
    margin : 10px 0px 50px 0px;
    font-size : 3rem;
    font-weight : 600;
    color : var(--bleu);
    
}

.titleVid {
    text-align: center;
    padding : 50px 0px 50px 0px;
    font-size : 3rem;
    font-weight : 600;
    color : var(--blanc);
    
}

.tabs h3 {
    width : 100%;
    padding : 30px 0px;
    text-align: center;
    color : var(--blanc);
    font-size : 1.3rem;
    cursor: pointer;
}
.tabs h3:hover{
    width : 120%;
    z-index: 999;
    font-size : 1.5rem;
    transition-duration : 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.tabs .stade {
    background-color:#600212;
}
.tabs .marche {
    background-color: #68020F;
}
.tabs .hopital {
    background-color: #600212;
}
.tabs .univ {
    background-color: #68020F;
}
.tabs .eclairage {
    background-color: #4e020f;
}

.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bleu) ;
    background-size: cover;
    background-repeat: no-repeat;
    padding : 0px 0px 50px 0px;
}
.slideVideos{
    width : 80%;
}

.seemore {
    margin : 50px 0px 105px 0px;
    width : 300px;
    background-color: var(--rouge);
    border : solid 1px var(--rouge);
    color : #fff;
}

.social {
    display: block;
    position : relative;
    top : -125px;
    width : 80%;
    margin : 0px auto;
    background-color: var(--blanc);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.social h2{
    font-weight: 400;
    font-size: 4rem;
    color : #fff;
    background-color: var(--rouge);
    padding : 25px 0px;
}
.socialdetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    padding : 50px 0px;
}

.socialdetails i{
    font-size : 5rem;
}
.socialdetails i:hover{
    color : var(--rouge);
    transition : 0.8s;
}

.link::after {
    content: "";
    display: block;
    height: 0.1rem;
    background: var(--rouge);
    transform: scale(0);
  }
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 50px;
    background-color: #000;
    margin-bottom : 0px;
    color :var(--blanc);
    text-align: center;
    font-size : 0.6rem;
}
label, #toggle{ 
    display: none;
}


 
  @media screen and (max-width : 800px){
      ul li a {
        color : #fff;
      }

    nav{
        display :none;
        
    }
    label 
    {
        width: 4rem;
        display: flex;
        margin: 0 auto;
        font-size: 2rem;
        color: rgb(56, 55, 55);
        cursor: pointer;
        text-align: right;
    }
    nav ul 
    {
        display: flex;
        position : absolute;
        left : 0px;
        top : 50px;
        width : 100%;
        height : auto;
        flex-direction: column;
        background: var(--bleu); 
    }
    .content-nav .logo, nav .btn 
    {
        display: none;
    }
 
    nav .main_pages a {
        width: 50%;
    }
    #toggle:checked + nav {
        display: flex;
    }
    .content-nav{
        justify-content: space-between;
    }
    .content-hero{
        width : 100%;
        align-items: center;
    }
    .content-hero h1{
        font-size : 1.5rem;
        text-align: center;
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    }
    .content-hero p{
        font-size : 1rem;
        line-height: 2rem;
        text-align: center;
    }
    .hero {
        height : 50vh;
    }
    .register {
        margin-top : 10px;
        top : -0px;
        height : 300px;
        width : 80%;
    }
    .register h2{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    #register input{
        padding : 20px;
        margin-bottom : 10px;
        border : 1px solid #828181;
        width : 80%;
    }
    #register button{
        width : 80%;
    }
    .form-register {
        margin : 0px 0px;
    }
    .activites {
        display: flex;
        flex-direction: column;
        width : 100%;
        margin-top : 30px;
    }
    .activites img{

        width : 100%;

    }
    .presentation h2{
        font-size: 1rem;
    }
    
    .presentation p{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
        font-weight: normal;
    }
    
    .presentation button{
        padding : 5px;
        width : 100%;
        margin-bottom: 30px;
    }
    .presentation {
        width : 80%;
    }
    .gadgets h1 {

        font-size : 1.8rem;
        margin : 5px 0px 40px 0px;
    }
    .gadget-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow :scroll;
    }
    .title {
        font-size : 1.5rem;
    }
    .molobeli {
        display: flex;
        flex-direction: column;
        background-color: var(--blanc);
    }
    .tabs {
        width : 100%;
        margin-bottom: 10px;
 
    }
    .detailsAction {
        width : 100%;
    }

    .tabs h3 {
        padding : 20px 0px;
        font-size : 0.8rem;
        cursor: pointer;
    }
    .titleVid {
        padding : 20px 0px 20px 0px;
        font-size : 1.5rem;
    }
    .slideVideos{
        width : 100%;
    }
    .social {
        display: flex;
        flex-direction: column;
        width : 80%;
        margin : 0px auto;
        background-color: #fff;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .social h2{
        font-size: 1.8rem;
    }
    .socialdetails {
        display: flex;
        flex-direction: row;
        justify-content: justify;
        flex-wrap: nowrap;
        overflow: hidden;
        

    }
    
    .socialdetails i{
        font-size : 1.5rem;
    }
    main {
        margin : 0px;
    }
}





